  /* Estilização da página de contactos */ 

.image{
  padding-top: 14%;
  position: relative;
  height: 34rem;
  width: 100%;
}

.subtitle{
  position: absolute;
  left: 100px;
  top: 300px;
  z-index: 1;
  color: var(--white);
  font-size: 50px;
}

.cards{
  margin-top: 8%;
  background: var(--bg-cards-contact);
  text-align: center;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.global{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 42px;
  height: 30rem;
  width: 42rem;
  padding-bottom: 5%;
}

.text{
  gap: 10px;
  display: grid;
  text-align: center;
}

.text h6{
  font-size: 20px;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#email,#nome{
  border: none;
  outline: none;
  border-bottom: 2px solid var(--black);
  height: 2.5rem;
  width: 40rem;
  font-size: 16px;
  max-width: 1024px;
  
}

.link{
  color: var(--link-color);
  padding-left: 5px;
  transition: all .5s ease;
}

.link:hover{
  color: var(--link-color-hover); 
}

textarea{
  font-size: 16px;
  height: 6rem;
  width: 40rem;
  outline-style: none;
  max-width: 1024px;
}

#icon1, #icon2{
  font-size: 70px;
}

.btn0{
  height: 2.6rem;
  width: 40rem;
  max-width: 1024px;
  cursor: pointer;
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  transition: .3s ease;
  background-color: var(--button-color-contacts);
}

.btn0:hover{
  background-color: var(--button-color-hover-contacts);
}


@media (max-width: 750px){
  .subtitle{
    font-size: 40px;
    left: 30px;
    top: 200px;
  } 
  h4{
    font-size: 18px;
  }
  #email,#nome{
    width: 28rem;
    font-size: 14px;
  }
  
  textarea{
    font-size: 14px;
    width: 28rem;
  }
  
  .btn0{
    width: 28rem;
    font-size: 14px;
  }
  #icon1, #icon2{
    font-size: 50px;
  }
}
