  /* Estilização da página de contactos */

.image{
  position: relative;
  height: 26rem;
  width: 100%;
}

.subtitle{
  position: absolute;
  left: 100px;
  top: 200px;
  z-index: 1;
  color: #fff;
  font-size: 50px;
}

.cards{
  background: rgba(255, 255, 255, 0.803);
  text-align: center;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.mini_footer{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 12px;
  background-color: black;
}

h4{
  font-size: 20px;
}

.who{
  color: #fff;
}

/* Dimensão Asus Zenbook Fold */
@media (max-width: 750px){
  .subtitle{
    font-size: 40px;
    left: 30px;
    top: 200px;
  } 
  h4{
    font-size: 18px;
  }
}


