  /* Estilização da página do blog */

.Blog2{
  padding-top: 10%;
  margin-top: 430px;
}

.imageColeta{
  padding-top: 5%;
  display: flex;
  height: 26rem;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 2.5%;
}

.content{
  display: grid;
  gap: 12px;
  padding: 12px;
}

.paragraph{
  padding: 18px;
  text-align: justify;
}

h1{
  padding-left: 120px;
}

.imageCard{
  margin: 0 auto;
  height: 8rem;
  width: 8rem;
}

.carouselContainer{
  text-align: center;
  padding-bottom: 6%;
}



@media (max-width: 740px){
  .containerBlog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  h1{
    padding-left: 18px;
  }
}
