  /* Estilização da página de empresas */

  /* Estilização da página do blog */

  html, body {
    width: 100%;
    overflow-x: hidden;
  }

.containerEnterprises{
  padding-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image{
  height: 18rem;
  width: 20rem;
}

.content{
   display: grid;
   gap: 20px;
}

.p{
  text-align: justify;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  cursor: pointer;
  height: 2.5rem;
  width: 12rem;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 550;
  transition: .3s ease;
  background-color: rgb(5, 96, 5);
}

.button:hover{
  background-color: rgb(6, 69, 6);
}

/* Iphone, Samsung */
@media (max-width: 740px){
  .containerEnterprises{
    padding: 10px;
    padding-top: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Ipad Air */
@media (max-width: 1024px){
  .containerBlog{
    padding: 16px;
    padding-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}