  /* Estilização da página de erro */

  .containerError{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img{
    height: 26rem;
    width: 28rem;
    animation: moves 2s ease-out infinite alternate;
}

h3{
    text-align: center;
    font-size: 2.3rem;
    color: rgb(2, 78, 2);
}

p{
    font-size: 18px;
    text-align: center;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

.button{
  height: 2.5rem;
  width: 14rem;
  border-radius: 4px;
  color: var(white);
  border: none;
  cursor: pointer;
  background-color: rgb(79, 78, 78);
  font-weight: 550;
  transition: .2s ease;
}

.button:hover{
  background-color: grey;
}

@keyframes moves{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(32px);
    }
}

/* Samsung */
@media (max-width: 750px){
  .containerError{
    gap: 22px;
}
h3{
  font-size: 2rem;
}
}


/* Ipad Air 5 */
@media (max-width: 820px){
  .containerError{
    gap: 16px;
}
}