  /* Estilização do Login */

.containerLogin{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.containerForm{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  height: 34rem;
  width: 36%;
  max-width: 90%;
  padding: 12px;
  border-radius: 4px;
}

.background{
  height: 40rem;
  width: 40rem;
}

.logo{
  height: 8rem;
  width: 8rem;
}

.inputs{
  display: grid;
  gap: 14px;
}

input{
  height: 2.5rem;
  width: 28rem;
  padding: 6px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
}

.eyeButton {
  position: absolute;
  top: 417px;
  right: 220px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.eyeButton:hover {
  color: #297a1f;
}

.buttonEntrar{
  height: 3rem;
  width: 28rem;
  border: none;
  border-radius: 4px;
  font-weight: 525;
  cursor: pointer;
  font-size: var(--font-size);
  transition: all .3s ease;
  background-color: #3E9F32;
  color: var(--white);
}

.buttonEntrar:hover{
  background-color:#297a1f;
} 

h3{
  font-size: 18px;
}
p{
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link a{
  color: var(--black);
  transition: all .5s ease;
}

.link{
  padding-left: 290px;
}

.link a:hover{
  color: #297a1f;
}

.buttonCadastrar{
  height: 3rem;
  width: 12rem;
  border: none;
  border-radius: 4px;
  font-weight: 525;
  cursor: pointer;
  font-size: var(--font-size);
  transition: all .3s ease;
  background-color: #3E9F32;
  color: var(--white);
}

.buttonCadastrar:hover{
  background-color: #297a1f;
} 

.mini_footer{
  display: flex;
  padding-top: 30px;
  gap: 50px;
}


@media (max-width: 768px){
  .containerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  form{
    width: 26rem;
    height: 36rem;
    font-size: 12px;
    background-color: transparent;
  }
  .eyeButton {
    position: absolute;
    top: 425px;
    right: 75px;
  }
  .link a{
    padding-right: 60px;
  }
  .background{
    display: none;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  label{
    font-size: 14px;
  }
  .buttonCadastrar{
    width: 10rem;
    font-size: 14px;
  }
  .buttonEntrar{
    width: 24rem;
    font-size: 14px;
  }
  input{
    width: 24rem;
  }
} 
