  /* Estilização da Home */

  .containerHome{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  
  
  .bodyimage{
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  
  .button{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.5rem;
    width: 16rem;
    transform: translate(-50%, -560%);
    max-width: 300px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: .2s ease-in-out;
    background-color: red;
  }
  
  .button:hover{
    background-color: #e40808e9;
  }
  
  .text{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, -500%);
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 8%;
    padding-bottom: 4%;
  }

  .card{
    height: 20rem;
    width: 22rem;
    max-width: 400px;
  }

  .cardImage{
    height: 8rem;
    width: 22rem;
  }

  .content{
    padding-top: 14px;
    text-align: center;
  }

  .content h3{
    font-size: 22px;
    text-transform: uppercase;
  }

     /* Iphone, Samsung */
     @media (max-width: 881px){
      .button{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -400%);
        width: 50%; 
        font-size: 12px;
      }
      .strong{
        position: absolute;
        left: 50%;
        top: 50%;
        color: black;
        transform: translate(-50%, -250%);
        font-size: 24px;
      }
    }

  
 /* Iphone, Samsung */
  @media (max-width: 916px){
    .button{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -920%);
      width: 50%; 
      font-size: 12px;
    }
    .strong{
      position: absolute;
      left: 50%;
      top: 50%;
      color: black;
      transform: translate(-50%, -443%);
      font-size: 18px;
    }
  }


