  /* Estilização da Home */

  .container{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  
  
  .bodyimage{
    height: auto;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }
  
  .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -900%);
    height: 2.4rem;
    width: 12rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: .2s ease-in-out;
    background-color: red;
  }
  
  .btn:hover{
    background-color: #e40808b3;
  }
  
  .text{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, -360%);
    font-size: 32px;
    padding: 0 20px;
  }

  .container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 6%;
    padding-bottom: 4%;
  }

  .card{
    height: 20rem;
    width: 22rem;
  }

  .cardImage{
    height: 8rem;
    width: 22rem;
  }

  .content{
    padding-top: 14px;
    text-align: center;
  }

  .content h3{
    font-size: 22px;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .bodyimage {
      width: 100%;
      max-width: 100%;  
      height: auto;
    }
  
    .text {
      font-size: 24px;  
      padding: 0 10px;  
    }
  
    .btn {
      width: 50%; 
    }
  }