  /* Estilização da Home */

  .containerHome{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  
  
  .bodyimage{
    height: auto;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }
  
  .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -560%);
    height: 2.6rem;
    width: 14rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: .2s ease-in-out;
    background-color: red;
  }
  
  .btn:hover{
    background-color: #e40808e9;
  }
  
  .text{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, -500%);
    font-size: 32px;
    padding: 0 20px;
  }

  .container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 6%;
    padding-bottom: 4%;
  }

  .card{
    height: 20rem;
    width: 22rem;
  }

  .cardImage{
    height: 8rem;
    width: 22rem;
  }

  .content{
    padding-top: 14px;
    text-align: center;
  }

  .content h3{
    font-size: 22px;
    text-transform: uppercase;
  }
  
 /* Dimensão Asus Zenbook Fold */
  @media (max-width: 750px){
    .text{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -620%);
      font-size: 18px;
    }
    .btn{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -980%);
      width: 45%; 
      font-size: 12px;
    }
    .content h3{
      font-size: 18px;
    }
  }