  /* Estilização da página de erro */

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
}

.cont{
    display: flex;
    gap: 10rem;
}

.img{
    height: 26rem;
    width: 30rem;
    animation: moves 5s ease-out infinite;
}

.content{
    padding-top: 10%;
}

h1{
    text-align: center;
    color: rgb(2, 78, 2);
}

p{
    font-size: 18px;
    text-align: center;
}

@keyframes moves{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-32px);
    }
}