  /* Estilização da página de erro */

  .containerError{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    gap: 20px;
    font-family: "Quicksand", sans-serif;
}

.img{
    height: 26rem;
    width: 28rem;
    animation: moves 5s ease-out infinite;
}

h3{
    text-align: center;
    font-size: 2rem;
    color: rgb(2, 78, 2);
    font-family: "Quicksand", sans-serif;
}

p{
    font-size: 18px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  font-family: "Quicksand", sans-serif;
}

@keyframes moves{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-32px);
    }
}