.Foot{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14rem;
    padding: 100px;
    flex-direction: row;
}

a{
    transition: .2s ease;
    color: var(--white);
}
a:hover{
    color: var(--green);
}

.image{
    align-items: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.logo{
    background-color: var(--white);
    height: 4rem;
    width: 4rem;
    border-radius: 4px;
}

  .icons{
    transition: .5s ease;
    display: flex;
    gap: 20px;
  }

  .icons svg:hover{
    transform: scale(1.1);
    color: rgb(3, 93, 3);
  }

.List h4{
    color: var(--green);
}

.List{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.Links h4{
    color: var(--green);
}

.Links{
    gap: 16px;
    display: flex;
    flex-direction: column;
}