  /* Estilização do footer ou rodapé */

.containerFooter{
  padding-top: 4%;
  width: 100%;
  height: 4%;
  display: flex;
  background-color: var(--black);
  justify-content: space-around;
}

.image{
  height: 6rem;
  width: 6rem;
}

.container_list{  
  display: grid;
  gap: 10px;
}

.links_uteis{  
  display: grid;
  gap: 12px;
}

.link{
  padding-bottom: 20px;
  color: var(--white);
  transition: all .5s ease;
}

.link:hover{
  color: var(--green);
}