  /* Estilização do Header */

.containerHeader{
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
}

.container_child{
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

img{
  height: 2.5rem;
  width: 2.5rem;
}

.button{
  height: 2.4rem;
  width: 12rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: .2s ease-in-out;
  background-color: rgba(172, 255, 47, 0.733);
}

.button:hover{
  background-color: #72e316;
}

.logo{
  height: 4rem;
  width: 4rem;
}

.img_flag{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.icon{
  cursor: pointer;
}

/* Estilos padrões para o modo claro */
body .light {
  background-color: white;
  color: black;
}

/* Estilos para o modo escuro */
body .dark {
  background-color: #121212;
  color: white;
}

.icons {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #000;
}

.icons:hover {
  transform: scale(1.2);
}


