  /* Estilização do Mini-Footer */

  .containerMiniFooter{
    padding-top: 8%;
  }

  .mini_footer{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 18px;
    width: 100%;
    max-width: 100%;
    background-color: black;
  }
  
  h4{
    font-size: 20px;
  }
  
  .who{
    color: #fff;
  }