  /* Estilização da Navbar */

.containerNavbar{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 70px;
  gap: 28px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: all .5s ease;
}

a:hover{
  color: green;
}

select{
  cursor: pointer;
  height: 1.7rem;
  width: 7rem;
  font-size: 16px;
}

/* Dimensão Asus Zenbook Fold */
@media (max-width: 750px){
  .containerNavbar a{
    font-size: 15px;
    gap: 20px;
  }
  select option{
    text-align: center;
  }
}