  /* Estilização da parte de relatar amontoado */

.containerRelatar{
  padding-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
}

.inputs{
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
}

.par{
  font-weight: 500;
}

label{
  font-weight: 500;
}

b{
  color: red;
}

select,option{
  padding: 8px;
  cursor: pointer;
}

.btn{
  padding-top: 8%;
  display: block;
  margin: 0 auto;
}

.button{
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 20rem;
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--white);
  background-color: firebrick;
  border-radius: 4px;
  transition: all .4s ease;
}

.button:hover{ 
  background-color: rgb(143, 25, 25);
}